{% extends "general/gen-layout.html"%}

{% block links %}
<link href = "{{url_for('static', filename = 'styles/index.css')}}" rel = "stylesheet">
<style>
    .mission-description{
        font-size:1.4rem;
    }
</style>
{% endblock %}

{% block nav %}
<li class = "active"><a href="{{url_for('index')}}">Home</a></li>
<li><a href="{{url_for('auth.login')}}">Login</a></li>
<li><a href="{{url_for('auth.register')}}">Signup</a></li>
<li><a href="#">About</a></li>
{% endblock %}

{% block body %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">Chip It Up</h1>
        <div class="row center">
            <h5 class="header col s12">We handle your ewaste.</h5>
        </div>
        <div class="row center">
            <a href="{{url_for('auth.register')}}"
                class="btn-large waves-effect waves-light teal lighten-4 black-text">
            Join us now!
            </a>
        </div>
        <br><br>

    </div>
</div>

<div class="container">
    <div class="section">
        <h3>Our Mission</h3>
        <p class="mission-description">
            We aim to minimize the disposal of <b>e-waste</b> along with traditional waste produced at households to normal dumping sites.
            <br>
            Now that may not seem like a big deal, but it has a lot of <span class="red-text">negatives</span>. 
            <br>
            <p class = "effects">
            <h4>For instance, </h4>
            <ul class="collection">
                <li class="collection-item">Seeps into the <span class = "blue-text">groundwater</span> making it <span class = "red-text">toxic</span>.</li>
                <li class="collection-item">Produces <span class = "red-text">radiations.</span></li>
                <li class="collection-item">Causes <span class="red-text">severe diseases like cancer.</span> </li>
            </ul>
            </p>
        </p>
    </div>
</div>


{% endblock %}