{% extends 'auth/auth-layout.html' %}

{% block nav %}
<li><a href="#">Home</a></li>
<li><a href="{{url_for('auth.login')}}">Login</a></li>
<li class = "active"><a href="#">Signup</a></li>
<li><a href="#">About</a></li>
{% endblock %}

{% block head_text %}   
    <h1 class = "white-text">Register!</h1>
    <p class = "flow-text white-text">If you already have an account. Go to <a href = "{{url_for('auth.login')}}" class = "red-text text-darken-3">login!</a></p>
{% endblock %}

            {% block card %}
            <form action="{{url_for('auth.register')}}" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="name" id = "name">
                        <label for = "name">Name</label>
                        {% if 'name' in errors %}
                            <span class="helper-text red-text" >{{errors['name']}}</span>
                        {% endif %}
                    </div>
                </div>
                <div class = "row">
                    <div class="input-field col s12">
                        <input type="email" name="email" id = "email">
                        <label for = "email">Email</label>
                        {% if 'email' in errors %}
                            <span class="helper-text red-text">{{errors['email']}}</span>
                            {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" name="pw">
                        <label for="passwrord">Password</label>
                        {% if 'pw' in errors %}
                        <span class="helper-text red-text">{{errors['pw']}}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn blue waves-effect waves-light" type = "submit">Register!
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        {% endblock %}
   

