{% extends "user/dash-layout.html" %}

{% block nav %}
    <li><a href="#">Home</a></li>
    <li><a href="#">Logout</a></li>
    <li class = "active"><a href="#">Dashboard</a></li>
    <li><a href="#">About</a></li>
{% endblock %}

{% block menu_items %}
    <a href="#" class="menu-item active-side">Dashboard</a>
    <a href="{{url_for('dashboard.pickups')}}" class="menu-item">All pickups</a>
    <a href="#" class="menu-item">Coupons</a>
    <a href="{{url_for('dashboard.settings')}}" class="menu-item">Settings</a>
{% endblock %}

{% block main_head %}
Welcome, {{u.name}}!
{% endblock %}

{% block main_content %}
    {% if need_address %}
        
        <h5>
        <a href = "{{url_for('dashboard.add_address')}}">Please first add an address to get started.</a>
        </h5> 
        
    
        
    {% else %}
            {% if u.can_schedule == True%}
            <p class="light">
                Seems like you don't have any active pickups scheduled, request one today!</p>
            <a class="waves-effect waves-light btn modal-trigger" href="#pickup-form"><i
                    class="material-icons left">cloud</i>Request a pickup!</a>
            {% else %}

            {% endif %}
    {% endif %}
    
    
{% endblock %}