{% extends "user/dash-layout.html" %}

{% block nav %}
    <li><a href="#">Home</a></li>
    <li><a href="#">Logout</a></li>
    <li class = "active"><a href="#">Dashboard</a></li>
    <li><a href="#">About</a></li>
{% endblock %}

{% block menu_items %}
    <a href="#" class="menu-item active-side">Dashboard</a>
    <a href="{{url_for('dashboard.pickups')}}" class="menu-item">All pickups</a>
    <a href="#" class="menu-item">Coupons</a>
    <a href="{{url_for('dashboard.settings')}}" class="menu-item">Settings</a>
{% endblock %}

{% block main_head %}
Welcome, {{u.name}}!
<span class="right points blue-grey-text text-darken-1">EcoPoints: <b>{{u.points}}</b></span>
{% endblock %}

{% block main_content %}
    {% if need_address %}
        
        <h5>
        <a href = "{{url_for('dashboard.add_address')}}">Please first add an address to get started.</a>
        </h5> 
        
    
        
    {% else %}
            {% if u.can_schedule == True%}
            <p class="light">
                Seems like you don't have any active pickups scheduled, request one today!</p>
            <a class="waves-effect waves-light btn modal-trigger" href="#pickup-form"><i
                    class="material-icons left">cloud</i>Request a pickup!</a>
            {% else %}
                {% if active_pickup|length == 1 %}
                {% set active_pickup = active_pickup[0] %}
                    <div class="row active-pickup-area">
                        <div class="col s12 m6">
                            <div class="card teal lighten-1 active-pickup">
                                <div class="card-content white-text z-depth-5">
                                    <span class="card-title">Current pickup

                                        <!-- <a href="{{ url_for('dashboard.del_pickup', pickup_id = active_pickup.id)}}" class = "right">
                                            <i class="material-icons white-text">cancel</i>
                                        </a> -->
                                    </span>
                                    <p>{{ active_pickup.description }}</p>
                                    <hr color = "white">
                                    <p>
                                        Pickup scheduled: 
                                        <b>
                                    {{
                                        active_pickup.scheduled_date.date()
                                    }}
                                        </b>
                                    </p>
                                    <p>
                                        Address: 
                                        <b>
                                        {{ def_addr._address }}
                                        </b>
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a class="waves-effect waves-light btn-small orange darken-2" href = "{{ url_for('dashboard.del_pickup', pickup_id = active_pickup.id)}}"><i class="material-icons right">cancel</i>CANCEL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% for p in previous_pickups %}

                    {% endfor %}
            {% endif %}
    {% endif %}
    
    
{% endblock %}